*{
    margin:0;
    padding:0;
    text-align: center;
}
h1{
    background-color: blueviolet;
    color: aliceblue;
    height:5rem;
    line-height: 5rem;
}
.choice{
    height:162px;
    width:162px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    cursor: pointer;
    opacity: 60%;
}
img{
    height:160px;
    width:160px;
     object-fit: cover;
     border-radius: 50%;
     pointer-events: none;

}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top:5rem;  
}
.score-board{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:9rem;
    font-size: 2rem;
    margin-top:8rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top:8rem;
}
#msg{
    background-color: rgb(21, 18, 17);
    color: white;
    font-size: 2rem;
    display: inline;
    padding:1rem;
    border-radius: 1rem;;
}